body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.pokemonContainer {
  display: flex;

  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  width: 300px;
  margin: 2rem auto;
  background-color: #b3c8cf;
  text-align: center;
}
.pokemonCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2rem;
  padding: 3rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
.show {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #89a8b2;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #0f0e0e;
  margin-top: 2rem;
}
